
/* Exercise 1 */
.ex-1-square {
    transition: all 1s linear;
}
.ex-1-square:hover {
    background-color: red;
}

/* Exercise 2 */
.ex-2-square {
    transition: all 1s linear;
}

.ex-2-square:active {
    width: 100%;
}


/* Exercise 3 */
.ex-3-square {
    transition: all 1s linear;
}

.ex-3-square:hover {
    border-radius: 50px;
}



/* Exercise 4 */
.ex-4-square {
    transition: all 1s linear;
}

.ex-4-square:hover {
    opacity: 0.0;
}


/* Exercise 5 */
.ex-5-square {
    transition: all 1s linear;
}

.ex-5-square:hover {
    width: 100px;
    height: 100px;
}


.ex-5-square:active {
    width: 15px;
    height: 15px;
}

/* Exercise 6 */
.ex-5-square {
    transition: all 1s linear;
}

.ex-5-square:hover {
    width: 100px;
    height: 100px;
}


/* Exercise 7 */



/* Exercise 8*/



/* Exercise 9 */



/* Exercise 10 */



/* Exercise 11 */



/* Exercise 12 */



/* Exercise 13 */






